

body {
    background-color: #DDDDDD;
}


h1 {
    color: black;
}


p {
    color: white;
}

.game_canvas_container {
	display: inline-block;
	padding: 6px;
	background-color:#CCCCCC;
}

.game_canvas {
  border: solid 1px white;
}